In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [92]:
path= r'C:\Users\Anjelito\Documents\personal project\regression - student grade\data\raw\student-mat.csv'
df= pd.read_csv(path)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [94]:
map_bool= {
    'yes': True,
    'no': False,
}
map_edu= {
    0: 'none',
    1: 'primary',
    2: '5_9_grade',
    3: 'secondary',
    4: 'higher',
}
cat_edu= pd.CategoricalDtype(
    ['none','primary','5_9_grade','secondary','higher'],
    ordered= True
)

In [96]:
df= (df
    .rename(columns= lambda c: c.lower().replace(' ', '_'))
    .assign(
        schoolsup= lambda df_: df_['schoolsup'].map(map_bool),
        famsup= lambda df_: df_['famsup'].map(map_bool),
        paid= lambda df_: df_['paid'].map(map_bool),
        activities= lambda df_: df_['activities'].map(map_bool),
        nursery= lambda df_: df_['nursery'].map(map_bool),
        higher= lambda df_: df_['higher'].map(map_bool),
        internet= lambda df_: df_['internet'].map(map_bool),
        romantic= lambda df_: df_['romantic'].map(map_bool),
        medu= lambda df_: df_['medu'].astype('int').map(map_edu).astype(cat_edu),
        fedu= lambda df_: df_['fedu'].astype('int').map(map_edu).astype(cat_edu),
    )
    .rename(columns= {'g1': 'score'})
    .astype({
        'school': 'category',
        'sex': 'category', 
        'age': 'uint8',
        'address': 'category',
        'famsize': 'category',
        'pstatus': 'category',
        'mjob': 'category',
        'fjob': 'category',
        'reason': 'category',
        'guardian': 'category',
        'traveltime': 'category',
        'studytime': 'category',
        'failures': 'uint8',
        'famrel': 'uint8',
        'freetime': 'uint8',
        'goout': 'uint8',
        'dalc': 'uint8',
        'walc': 'uint8',
        'health': 'uint8',
        'absences': 'uint16',
        'score': 'uint8',
    })
    .drop(columns= ['g2', 'g3'])
)

In [98]:
file= df
filepath= r'C:\Users\Anjelito\Documents\personal project\regression - student grade\data\intermediate\student-mat-cleaned.parquet'

import os
if not os.path.exists(filepath):
    file.to_parquet(filepath, engine='fastparquet', index= False)
    print('File saved.')
else:
    print('File already exist.')

File saved.